{% extends 'booking/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
   

{%include 'booking/profile.html'%}

    <h2 id="about ">About Our Hotel</h2>
<h4>Welcome to our hotel. We offer the best services and amenities.</h4>
<img src='booking\static\booking\images\sasha-kaunas-67-sOi7mVIk-unsplash.jpg' >
<h2>Available Rooms</h2>
    <div class="rooms">
        {% for room in rooms %}

        <div class="room">
            <h3>Room {{ room.room_number }} ({{ room.room_type }})</h3>
            <p>Price: ${{ room.price }}</p>
        </div>
        {% endfor %}
    </div> 
{% endblock %}













{% comment %} {% extends 'booking/base.html' %} {% block title %}Home{% endblock %} {% block
content %} {% include 'booking/navbar.html' %}

  <h2 class="mb-4">Available Rooms</h2>
  <div class="row">
    {% for room in rooms %}
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Room {{ room.room_number }}</h5>
          <p class="card-text">Type: {{ room.room_type }}</p>
          <p class="card-text">Price: ${{ room.price }}</p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{%endblock%} {% endcomment %}