
header, footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.header {
    /* Set background image */
    background-image: url("{% static 'booking\images\vojtech-bruzek-Yrxr3bsPdS0-unsplash.jpg'%}");
    /* Set background size */
    background-size: cover;
    /* Set background position */
    background-position: center;
    /* Set background attachment */
    background-attachment: fixed; /* Ensures the background image stays fixed as the page scrolls */
    /* Set other styles */
    color: #fff; /* Text color */
    padding: 100px 0; /* Padding for top and bottom */
    text-align: center; /* Center align text */
}
.header h1 {
    font-size: 3rem; /* Example: Set font size */
}
.rooms {
    display: flex;
    flex-wrap: wrap;
}
.room {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: calc(33.333% - 20px);
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

nav a {
    float: right;
    margin: auto;
    display: block;
    text-align:center;
    background-color: #333;
    color: #fff;
    padding: 14px 16px;
}


nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1em;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.container {
    padding: 2em;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

form label {
    font-weight: bold;
}

form input, form textarea {
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 0.5em 1em;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
